body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.card-container {
    display: flex;
    flex-direction: column;
    background: lightblue;
    border-radius: 12px;
    padding: 20px 40px 40px; 
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
}
.card-header {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
.mood-question {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 20px;
    font-family: "Poppins", sans-serif;
}